@model IEnumerable<Volunteer>

@{
    ViewBag.Title = "Volunteer List";

}

<h1>Volunteers</h1>

@foreach (var item in Model)
{
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
        </tr>
    </tbody>
</table>
}

<a asp-action="SearchVol" asp-controller="Volunteer">Search for a Volunteer</a>